ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
li.menu {
    display: inline;
    float: left;
}
a.menu {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
}
div.containter {
    padding: 20px;
}