body, div {
    margin: 0;
    padding: 0;
}

div.container {
    margin-left: 10%;
    margin-right: 10%;
}

div.menu {
    margin: 10px;
    box-shadow: 0 0 30px #333333;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color .2s, color .2s;
}

li.menu a.menu:hover {
    background-color: #111;
    color: #CCC;
}

li.menu.active {
    background-color: #111;
}

#CTEClasses li {
    width: calc(50% - 10px);
    float: left;
    margin-left: 10px;
}

/*div.side-menu {
    margin: 10px;
    box-shadow: 0 0 30px #333333;
}
ul.side-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #333;
}
li.side-menu {
    float: left;
}
a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.side-menu a.side-menu:hover {
    background-color: #111;
}
li.side-menu.active {
    background-color: #111;
}*/
div.side-menu {
    margin: 10px;
}

ul.side-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 82%;
    background-color: #333;
    position: fixed;
    overflow: auto;
    box-shadow: 0 0 30px #333333;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 81.65%;
    width: 72%;
    position: fixed;
    box-shadow: 0 0 30px #333333;
    z-index: -1;
}

a.side-menu {
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    cursor: pointer;
}
li.side-menu:hover a.side-menu:hover {
    background-color: #111;
}

li.side-menu.active {
    background-color: #111;
}

body.index {
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.6)),
    url("../images/switz-tiling.jpg") no-repeat;
}

body.aboutCTE {
    background: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
    url("../images/orange-building.jpg") no-repeat;
}

body.aboutTSA {
    background: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
    url("../images/tall-tower1.jpg") no-repeat;
}

body.aboutUAS {
    background: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
    url("../images/world-trade-center.jpg") no-repeat;
}
body.aboutUs{
    background: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
    url("../images/tall-tower2.jpg") no-repeat;
}

#footer {
    background:linear-gradient(
            rgba(51, 51, 51, 0.9),
            rgba(51, 51, 51, 0.9));
	width:100%;
	height:50px;
	position:fixed;
	bottom:0;
	left:0;
    text-align: center;
}
p.footer {
    color: white;
}

li.about {
    float: right;
    background-color: #111;
}
a.about {
    float: right;
}
li.about a.about:hover {
    background-color: #333;
}

body {
    background-size: cover !important;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 75px;
}