body, div {
    margin: 0;
    padding: 0;
}

div.container {
    margin-left: 10%;
    margin-right: 10%;
}

div.menu {
    margin: 10px;
    box-shadow: 0 0 30px #333333;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a.menu:hover {
    background-color: #111;
}

li.menu.active {
    background-color: #111;
}

#CTEClasses li {
    width: 50%;
    float: left;
}

/*div.side-menu {
    margin: 10px;
    box-shadow: 0 0 30px #333333;
}
ul.side-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #333;
}
li.side-menu {
    float: left;
}
a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.side-menu a.side-menu:hover {
    background-color: #111;
}
li.side-menu.active {
    background-color: #111;
}*/
div.side-menu {
    margin: 10px;
    box-shadow: 0 0 30px #333333;
}

ul.side-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 85%;
    background-color: #333;
    position: fixed;
    overflow: auto;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 84.65%;
    width: 72%;
    position: fixed;
    box-shadow: 0 0 30px #333333;
    z-index: -1;
}

a.side-menu {
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    cursor: pointer;
}
li.side-menu:hover a.side-menu:hover {
    background-color: #111;
}

li.side-menu.active {
    background-color: #111;
}

body.index {
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.6)),
    url("../images/switz-tiling.jpg") no-repeat;
}

body.aboutCTE {
    background: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
    url("../images/orange-building.jpg") no-repeat;
}

body.aboutTSA {
    background: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
    url("../images/tall-tower1.jpg") no-repeat;
}

body.aboutUAS {
    background: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
    url("../images/world-trade-center.jpg") no-repeat;
}

body {
    background-size: cover !important;
    font-family: 'Raleway', sans-serif;
}